.home-page {
  background: url('../../assets/images/background.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  margin-bottom: 50px;
  height: 30px;
  width: 230px;
}

.text-container {
  font-family: 'Inter';
  margin-left: 100px;
  max-width: 450px;
}

.forms-container {
  text-align: right; 
}

.forms-row {
  display: grid !important;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.main-subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.colored-text {
  background: conic-gradient(from 159.34deg at 44.88% 50%, #2B65FB 0deg, #28D8FF 148.13deg, #85FFB6 307.63deg, #17C213 360deg);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.main-description {
  margin-bottom: 2rem;
  color: #ffffff;
  max-width: 300px;
}
